[user]
	name = Nicholas Ngai
	signingkey = 65358B5A905963F4
	useConfigOnly = true
[core]
	excludesfile = ~/.gitignore-global
[commit]
	gpgsign = true
[alias]
	rebase-other = "rebase --no-gpg-sign --exec 'GIT_COMMITTER_NAME=\"$(git show -s --pretty=format:%an)\" GIT_COMMITTER_EMAIL=\"$(git show -s --pretty=format:%ae)\" GIT_COMMITTER_DATE=\"$(git show -s --pretty=format:%ad)\" git commit --amend --no-edit $(if [ \"$(git show -s --pretty=format:%ae)\" = \"$(git config user.email)\" ]; then echo \"-S\"; else echo \"--no-gpg-sign\"; fi)'"
[sendemail]
	smtpserver = mail.ngai.me
	smtpserverport = 587
	smtpuser = nicholas@ngai.me
	smtpencryption = tls
[diff]
	algorithm = histogram
